* {
    font-family: "JetBrainsMono Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

/* La barra principal es transparente */
window#waybar {
    background-color: transparent;
}

/* Quitamos el fondo a los contenedores (izquierda, centro, derecha) */
.modules-left, .modules-center, .modules-right {
    background: transparent;
    padding: 0;
    margin: 0;
}

/* ESTILO DE LAS PASTILLAS (Módulos individuales) */
#custom-arch,
#workspaces,
#window,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#idle_inhibitor,
#tray {
    background-color: #0a0a0a;/* Fondo NEGRO (Casi negro, estilo Tokyo Night) */
    color: #ffffff;            /* Texto BLANCO */
	opacity: 1;
    padding: 5px 15px;         /* Espacio dentro de la pastilla */
    margin-top: 5px;           /* Margen arriba */
    margin-bottom: 5px;        /* Margen abajo */
    margin-left: 4px;          /* Separación entre pastillas */
    margin-right: 4px;
    border-radius: 20px;       /* Bordes MUY redondos */
    border: 1px solid #0a0a0a; /* Borde del mismo color */
}

/* Ajustes específicos */

/* Icono de Arch (Izquierda) - Un poco más grande o de color */
#custom-arch {
    font-size: 18px;
    color: #ffffff; /* Un toque azul o blanco si prefieres */
    padding-left: 15px;
    padding-right: 20px; /* Un poco mas de aire */
}

/* Workspaces (Escritorios) */
#workspaces button {
    padding: 0 5px;
    color: #6c7086; /* Color inactivo */
}
#workspaces button.active {
    color: #ffffff; /* Color activo (blanco) */
}
#workspaces button:hover {
    background: rgba(0,0,0,0.2);
}

/* Batería y estados críticos */
#battery.charging, #battery.plugged {
    color: #a6e3a1; /* Verde cuando carga */
}
#battery.critical:not(.charging) {
    background-color: #f38ba8; /* Rojo si es crítica */
    color: #11111b;
}

/* --- ESTILO DEL TASKBAR (Corrección) --- */

#taskbar {
    background-color: #11111b;
    padding: 5px;
    margin: 5px 4px;
    border-radius: 20px;
    border: none;
}

#taskbar button {
    background-color: transparent; /* Fondo transparente limpio */
    border: none;
    box-shadow: none;
    padding: 0px 8px;
    border-radius: 10px;
    margin: 0 2px;
    /* Color del texto/icono si fuera fuente, para imagenes no afecta tanto */
    color: #cdd6f4; 
}

/* Efecto Hover (Ratón encima) */
#taskbar button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* App Activa (Fondo sutil) */
#taskbar button.active {
    background-color: rgba(255, 255, 255, 0.15);
}